telebot==0.0.5
aiohttp==3.8.5
asyncio==3.4.3
requests==2.31.0
fake-useragent==1.4.0
cryptography==41.0.4
pyTelegramBotAPI==4.12.0
telethon==1.28.5
pycryptodome==3.19.0
pyaes==1.6.1
rsa==4.9
pillow==10.1.0
